
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="https://nupet.vn/wp-content/uploads/2023/01/banner-nupet.jpg" alt="" />
            </li>
            <li>
                <img src="https://www.petcity.vn/media/news/2508_cover1.png" alt="" />
            </li>
            <li>
                <img src="https://vetad.net/wp-content/uploads/2018/10/Banner3-1.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>